@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: url('../assets/Kids_Free_Hand_Drawing_of_Toilet_Paper_Rolls_Seamless_Background_Pattern_generated.jpg');
  background-size: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapHeight {
  height: calc(100vh - 64px);
}

.mapHeightMobile {
  height: calc(100vh - 56px);
}





































.betaMapHeight {
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    align-items: center;
}