@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: url('../assets/Kids_Free_Hand_Drawing_of_Toilet_Paper_Rolls_Seamless_Background_Pattern_generated.jpg');
  background-size: contain;
}

.mapHeight {
  margin-top: 64px;
  height: calc(100vh - 64px);
}

.mapHeightMobile {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

.loginMapHeight{
  height: 100%;
  border-radius: 40px;
}

/* .mapboxgl-ctrl-geocoder {
  width: 240px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 36px;
}

.mapboxgl-ctrl-geocoder--icon {
  padding: 0px;
  display: flex;

}

.mapboxgl-ctrl-geocoder--icon-search {
  padding: 0px;
  display: flex;
} */